.header {
  width: 100%;
  background-color: yellow;
  padding: 10px 0; /* Espacio arriba y abajo */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 0 20px; /* Espacio en los lados */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.project-title {
  color: white; /* Color de texto blanco */
  font-size: 2rem; /* Tamaño de fuente ajustado */
  font-weight: bold; /* Grosor de la fuente */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 20px; /* Espacio alrededor del texto */
  font-family: "Arial", sans-serif; /* Cambia la fuente según prefieras */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
}

.menu {
  background-color: white;
  display: flex;
  list-style: none; /* Eliminar puntos de lista */
  padding: 0; /* Eliminar padding por defecto */
  margin: 0; /* Eliminar margin por defecto */
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.menu li {
  margin: 0 30px; /* Espacio entre elementos del menú */
}

.menu a {
  text-decoration: none; /* Eliminar subrayado de los enlaces */
  color: black; /* Color de texto de los enlaces */
  font-weight: bold; /* Grosor de la fuente */
}
